<div class="eligibility-copay tabs-limitations" ng-repeat="(coverageLevel, coverageGroup) in limitations">
    <div ng-repeat="(networkLevel, networkGroup) in coverageGroup">
        <h4>{{ coverageLevel | removeUnderscores | titlecase }}
            Coverage,
            {{ networkLevel | removeUnderscores | titlecase }}</h4>
        <table class="table">
            <thead>
                <tr>
                    <td style="width: 120px;" class="text-bold">Benefit Amt</td>
                    <td class="text-bold">Service Types</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(benefitAmount, benefitGroup) in networkGroup">
                    <td>${{ benefitAmount | number }}</td>
                    <td>
                        <ul style="padding-left: 15px; margin: 0;">
                            <li ng-repeat="limitation in benefitGroup track by $index">
                                {{ limitation.service_types.join(", ") | removeUnderscores }}
                                <small class="text-muted" ng-if="limitation.messages">
                                    <br/>
                                    <span ng-repeat="m in limitation.messages">
                                        {{ $last ? m.message : m.message + "; " }}
                                    </span>
                                </small>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
