<div class="pd-confirm pd-confirm-cancel" style="display: block;" id="confirm-{{:: confirmId }}">
    <div class="pd-confirm-overlay" id="pd-confirm-overlay"></div>
    <div class="panel panel-default pd-confirm-content pd-confirm--animate-in pan">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="pd-confirm-title {{titleClasses}}">{{::title}}</h4>
                </div>
                <div class="col-xs-2 clearfix" ng-if="!hideCloseBtn">
                    <div class="pull-right pd-confirm-close btn-hover" ng-click="closeButtonClicked()">
                        <i class="fa fa-lg fa-fw fa-close"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body pd-confirm-body">
            <p class="{{contentClasses}}">{{::content}}</p>
            <div class="input-wrapper" ng-show=" type === 'input' ">
                <input type="text"
                       id="pdConfirmInput"
                       class="pd-confirm-input"
                       ng-model="inputValue">
            </div>
        </div>
        <div class="panel-footer text-right">
            <button ng-hide="hideCancelBtn" class="btn btn-link {{cancelButtonClasses}}" ng-cloak ng-click="cancelClicked()">
                {{ cancelBtnText }}
            </button>
            <button ng-hide="hideConfirmBtn" class="btn btn-primary {{confirmButtonClasses}}" ng-cloak ng-click="confirmClicked()">
                {{ confirmBtnText }}
            </button>
        </div>
    </div>
</div>
