<div class="btn-group" uib-dropdown on-toggle="toggled(open)">
    <span ng-class="className || 'btn btn-sm btn-default dropdown-toggle'"
          uib-dropdown-toggle>Add to calendar &nbsp;<span class="caret"></span></span>
    <ul uib-dropdown-menu class="dropdown-menu">
        <li>
            <a ng-click="calendarUrl.dlIcal()">iCalendar</a>
        </li>
        <li>
            <a href="{{calendarUrl.google}}" target="_blank">Google Calendar</a>
        </li>
        <li>
            <a ng-click="calendarUrl.dlIcal()">Outlook</a>
        </li>
        <li>
            <a href="{{calendarUrl.yahoo}}" target="_blank">Yahoo! Calendar</a>
        </li>
        <li>
            <a href="{{calendarUrl.microsoft}}" target="_blank">Microsoft Calendar</a>
        </li>
    </ul>
</div>
