<span ng-message="required">This field is required.</span>
<span ng-message="minlength">Your entry is too short</span>
<span ng-message="maxlength">Your entry is too long</span>
<span ng-message="email">A valid email address is required</span>
<span ng-message="pattern">Invalid entry</span>
<span ng-message="url">Invalid URL</span>
<span ng-message="pdAvailable">Value is not available for use</span>
<span ng-message="pdAvailableEmail">Email is not available. Please try another email address or <a href="#" ui-sref="app.consumer.auth.account-recovery({ email: data.email })">recover your account</a></span>
<span ng-message="pdPasswordMatch">Passwords must match</span>
<span ng-message="pdPasswordRules">Invalid password</span>
<span ng-message="pdInsurance">You must fill both insurance fields</span>
<span ng-message="pdEmailNotFound">Email not found. Please <a href="#" ui-sref="app.consumer.auth.signup.account({ email: data.email })">sign up</a> or check your spelling</span>
