<div class="row">
    <div class="col-sm-4">
        <div class="dropdown-container">
            <pd-select
                 ng-model="month"
                 options="months"
                 placeholder="Month"
                 name="month"
                 show-placeholder="showPlaceholder"
                 label-key="name"
                 value-key="val"
                 id="month-select"
                 class="search-dropdown icon-input">
            </pd-select>
            <i class="pd-dropdown-icon pd-dropdown-icon-right fa fa-angle-down"></i>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dropdown-container">
            <pd-select
                 name="day"
                 ng-model="day"
                 options="days"
                 placeholder="Day"
                 id="day-select"
                 show-placeholder="showPlaceholder"
                 class="search-dropdown icon-input">
            </pd-select>
            <i class="pd-dropdown-icon pd-dropdown-icon-right fa fa-angle-down"></i>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dropdown-container">
            <pd-select
                 name="year"
                 id="year-select"
                 ng-model="year"
                 options="years"
                 show-placeholder="showPlaceholder"
                 placeholder="Year"
                 class="search-dropdown icon-input">
            </pd-select>
            <i class="pd-dropdown-icon pd-dropdown-icon-right fa fa-angle-down"></i>
        </div>
    </div>
    <input ng-required="dobRequired" type="hidden" name="pd_birth_date" id="pd_birth_date" ng-model="model">
</div>
