<ul class="list-inline pd-social-links">
    <li ng-if="::entity.twitter_url">
        <a href="{{ ::entity.twitter_url }}" target="_blank">
            <i class="fa fa-twitter-square"></i>
        </a>
    </li>
    <li ng-if="::entity.facebook_url">
        <a href="{{ entity.facebook_url }}" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
    </li>
    <li ng-if="::entity.google_plus_url">
        <a href="{{ ::entity.google_plus_url }}" target="_blank">
            <i class="fa fa-google-plus-square"></i>
        </a>
    </li>
    <li ng-if="::entity.linkedin_url">
        <a href="{{ ::entity.linkedin_url }}" target="_blank">
            <i class="fa fa-linkedin-square"></i>
        </a>
    </li>
</ul>
